* {
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}

body {
  background-color: #121212;
  color: #e0e0e0;
}

header {
  background-color: #1c1c1c;
  color: #e0e0e0;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

main {
  text-align: center;
}

form {
  display: inline-block;
  text-align: left;
}

label {
  display: block;
  font-size: 1.2em;
}

input[type="text"],
input[type="datetime-local"] {
  width: 100%;
  padding: 10px;
  margin-right: 10px 1;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 5px;
  color: #e0e0e0;
  height: 40px;
}

.pure-control-group {
    margin-bottom: 20px;
}
