* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}

#cursor {
  color: orange;
  animation: blink 1s linear infinite;
}
#typewriter {
  font-weight: bold;
  color: orange;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
body {
  background-color: #121212;
}

header {
  background-color: #1c1c1c;
  color: #e0e0e0;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

main {
  text-align: center;
  color: white;
}

form {
  display: inline-block;
  text-align: left;
}

label {
  display: block;
  font-size: 1.2em;
}

input[type="text"],
input[type="datetime-local"] {
  width: 100%;
  padding: 10px;
  margin-right: 10px 1;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 5px;
  color: #e0e0e0;
  height: 40px;
}

#person {
  width: 100%;
  padding: 10px;
  margin-right: 10px 1;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 5px;
  color: #e0e0e0;
  height: 40px;
}

.pure-control-group {
  margin-bottom: 20px;
}

main .back button {
  background-color: orange; /* Changes the background color to orange */
  color: #ffffff; /* Optional: Changes the text color to white or any other color for contrast */
  border: none; /* Optional: Removes the border */
  padding: 10px 20px; /* Optional: Adjusts the padding */
  border-radius: 5px; /* Optional: Adds rounded corners */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
