* {
  box-sizing: border-box;
}

body {
  font-family: "Verdana", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  margin-bottom: 10vh;
}

header {
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.welcome-box {
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* .navigation-bar {
  background-color: black;
  width: 100%;
  height: 10vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-bar img {
  width: 25%;
} */

.pure-controls {
  margin-top: 3vh;
}
.main-content {
  display: flex;
  flex-direction: row;
  padding-top: 5vh;
  justify-content: center;
  gap: 20px;
  height: 100vh;
}

form {
  background-color: rgb(56, 56, 56);
  border-style: solid;
  border-color: rgb(61, 61, 61);
  padding: 10px;
  border-radius: 10px;
}
.left,
.right {
  flex: 1;
}

.center {
  flex: 4;
}

#calendar {
  width: 100%;
}

.calendar-wrapper {
  width: 70%;
  float: left;
}

.sidebar {
  width: 30%;
  margin-top: 0;
  padding-top: 0;
  float: right;
}

.sidebar-top table th {
  background-color: #cccccca4;
  color: black;
  height: 25px;
  border-radius: 5px;
}

.sidebar-top {
  padding: 10px;
  padding-top: 0;
  margin-bottom: 25px;
}

.sidebar-bottom {
  padding: 10px;
  padding-top: 0;
}

.sidebar-top table {
  width: 100%;
  border-collapse: collapse;
}
.sidebar-top table tr:nth-child(even) {
  background-color: #222222; /* Lighter shade for even rows */
}

.sidebar-top td {
  /* border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; */
  padding: 8px;
}

.button-div {
  padding: 10px;
  text-align: center;
}

.button-div button {
  width: 60%;
}

@media screen and (max-width: 1250px) {
  .button-div button {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

hr {
  border: none; /* Removes the default border */
  height: 2px; /* Sets the thickness of the hr */
  background: linear-gradient(
    to right,
    #2c3e5000 0%,
    #575757 50%,
    #2c3e5000 100%
  ); /* Gradient effect */
}

.button-div button {
  margin-bottom: 10px;
}

.button-div p {
  font-size: 20px;
}

.fc {
  font-family: "Arial", sans-serif;
  color: #fff; /* Light text for contrast */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Ensures no internal borders peek outside the border-radius */
}

.fc .fc-daygrid-day {
  background-color: #222222 !important; /* Example: Changing background color */
}
.fc,
.fc * {
  border-color: #121212 !important;
}

.fc .fc-daygrid-day {
  background-color: #222222 !important; /* Dark background for day cells */
}

/* Change border color of day cells */
.fc .fc-daygrid-day {
  border-color: #121212 !important; /* Darker border color */
  border-width: 7px;
}

.fc-header-toolbar {
  background-color: #444; /* Slightly lighter than the main bg */
  color: #ccc;
  padding: 10px;
  border-radius: 10px;
}

.fc .fc-day-today {
  background-color: #3a4c55 !important; /* Slightly lighter or different color */
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  /* background: linear-gradient(
    315deg,
    rgb(0, 0, 0) 3%,
    rgb(10, 0, 24) 38%,
    rgb(4, 0, 20) 68%,
    rgb(8, 8, 8) 98%
  ); */
  background: linear-gradient(
    315deg,
    rgb(0, 0, 0) 3%,
    rgb(24, 24, 24) 38%,
    rgb(30, 30, 30) 68%,
    rgb(8, 8, 8) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.assign-button,
.edit-button,
.delete-button,
.scheduling-button {
  background-image: linear-gradient(
    to right,
    #283048 0%,
    #859398 51%,
    #283048 100%
  );
  margin: 10px auto;
  padding: 10px 20px; /* Adjust the padding as needed to fit your design */
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 10px;
  display: inline-block;
  border: none; /* Remove border if Pure CSS adds one */
  font-size: 0.8em;
  cursor: pointer;
  width: auto;
}

.assign-button:hover,
.edit-button:hover,
.delete-button:hover,
.scheduling-button:hover {
  background-position: right center;
  background-image: linear-gradient(
    to right,
    #283048 0%,
    #859398 51%,
    #283048 100%
  );
  text-decoration: none;
}

button,
a.button,
a {
  text-decoration: none; /* Removes underlines */
  /* other styles */
}
