.navigation-bar {
  background-color: black;
  width: calc(100% + 50px);
  height: 10vh;
  position: fixed;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: top 0.3s ease;
  font-size: 1.2em;
  padding: 0 20px;
  overflow: hidden;
}

.navigation-bar img {
  width: 20%;
  height: auto;
  margin-left: -50px;
}

.navigation-bar a {
  color: white;
  text-decoration: none;
}

.navigation-bar a:hover {
  color: gray;
}