body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: "Pacifico";
}

.container {
  position: relative;
  display: flex;
  height: 100vh;
}

.left-section {
  width: 70%;
  height: 100%;
  position: relative;
}

.hero {
  width: 100%;
  height: 100%;
  position: relative;
}

.back-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-section {
  background-color: #000;
  padding: 20px;
  width: 35%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/black-bg.jpg);
}

.logo {
  width: 25%;
  margin-bottom: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.auth0-buttons {
  margin-bottom: 20px;
  border-bottom: 5px solid #1d1d1d;
}
.browse-houses {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  width: 100px;
  padding: 12px 20px;
  background-color: #007bff;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-bottom: 10pt;
  font-weight: bold;
  margin-left: 3px;
  margin-right: 3px;
}


.btn:hover {
  background-color: #0056b3;
}

h2 {
  margin-bottom: 10px;
  color: #e0e0e0;
  font-size: 2em;
}
