body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: "Verdana", sans-serif;
}

.container {
  position: relative;
  display: flex;
  height: 100vh;
}

.left-section {
  width: 70%;
  height: 100%;
  position: relative;
}

.hero {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-text {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* White text color */
  text-align: center;
  z-index: 2; /* Ensure it's above the video */
}

/* Optional: Style your text */
.hero-text h1 {
  font-size: 40px; /* Example size */
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 2em; /* Example size */
}

.text {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.back-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#typewriter {
  font-weight: bold;
  color: white;
  font-size: 50%;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}

.right-section {
  background-color: #000;
  padding: 20px;
  width: 35%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/black-bg.jpg);
}

.logo {
  width: 25%;
  margin-bottom: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.auth0-buttons {
  margin-bottom: 20px;
  border-bottom: 5px solid #1d1d1d;
  display: flex;
}
.browse-houses {
  margin-bottom: 20px;
}

/* .btn {
  display: inline-block;
  width: 100px;
  padding: 12px 20px;
  background-color: #007bff;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-bottom: 10pt;
  font-weight: bold;
  margin-left: 3px;
  margin-right: 3px;
}

.btn:hover {
  background-color: #0056b3;
} */

h2 {
  margin-bottom: 10px;
  color: #e0e0e0;
  font-size: 2em;
}

.main-stuff-top {
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10%;
  padding-top: 15%;
  padding-bottom: 25%;
  margin-left: 20%;
  margin-right: 20%;
}

.main-stuff-top p {
  color: white;
  text-align: center;
}

/* CSS: https://getcssscan.com/css-buttons-examples */
button {
  align-items: center;
  /* background-image: linear-gradient(144deg, #57b7ee, #a3b4d4 50%, #b2daec); */
  /* background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb); */
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

button:hover {
  box-shadow: 0 0 10px rgba(194, 253, 245, 0.8);
  background-image: linear-gradient(144deg, #e1fdff, #b8fff6 50%, #ffffff);
}

button :active,
button :hover {
  outline: 0;
}

button span {
  background-color: rgb(194, 251, 253);
  padding: 6px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

button:hover span {
  background: none;
}

@media (min-width: 768px) {
  button {
    font-size: 24px;
    min-width: 196px;
  }
}

.button-right {
  margin-left: 20px;
}

button,
a.button,
a {
  text-decoration: none; /* Removes underlines */
  /* other styles */
}
