* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

/* CSS for Hero Section */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 100px 16px 100px 16px;
  height: 100vh;
}

.hero-content {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
}

.left-block {
  flex: 1;
  padding-right: 50px;
}

.right-block {
  flex: 1;
}

.left-block h1 {
  font-size: 80px;
  margin-bottom: 20px;
  font-weight: 1000;
  color: black;
  width: 80%;
}

.left-block p {
  font-size: 18px;
  margin-bottom: 40px;
  color: gray;
}

.right-block img {
  display: block;
  width: fit-content;
  height: 620px;
  position: relative;
  max-width: 600px;
  min-height: 500px;
  border-radius: 30px;
}

.section-divider {
  position: absolute;
  bottom: -35px;
  width: 100%; 
  border-bottom: 1px solid #ccc;
}

/* CSS for Main Section */

.main-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 0 16px;
  height: 100vh;
}

.main-stuff {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
}

.main-stuff-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-stuff-top h2 {
  margin-right: 20px;
  padding: 20px;
  font-size: 40px;
  font-weight: 1000;
  width: 40%;
  color: black;
}

.main-stuff-top p {
  margin-left: 20px;
  padding: 20px;
  color: black
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.color-box {
  display: inline;
  max-width: 350px;
  width: 100%;
  min-height: 500px;
  height: auto;
  position: relative;
  background-color: #7ebcff;
  justify-content: center;
  border-radius: 30px;
  align-items: center;
}

.color-box p {
  color: black;
  font-size: 26px;
  text-align: center;
  max-height: 100px;
  align-items: flex-start;
}

.color-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

header {
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  margin-top: 10vh;
}

.pure-control-group {
  margin-bottom: 20px;
}

.welcome-box {
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  padding-top: 5vh;
  justify-content: center;
  gap: 20px;
  height: 100vh;
}

.left,
.right {
  flex: 1;
}

.center {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
}

.left-center,
.right-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.left-center form,
.right-center form {
  align-items: center;
  justify-content: center;
}

.create-house-input,
.search-house-input,
input {
	width: 250px;
  height: 40px;
	padding: 10px;
	margin-right: 1px;
	background-color: #333;
	border: 1px solid #555;
	border-radius: 5px;
	color: #e0e0e0;
}

.my-houses {
  text-align: center;
  margin-bottom: 5vh;
}

.house {
  background-color: #222;
  border: 1px solid #444;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  min-width: max-content;
}

.house div {
  margin-bottom: 10px;
}

.house button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.house button:hover {
  background-color: #0056b3;
}

.my-houses-list {
  background-color: #222;
  border: 1px solid #444;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  width: max-content;
}

.my-houses-list div {
  margin-bottom: 10px;
}

.my-houses-list button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.my-houses-list button:hover {
  background-color: #0056b3;
}

.create-house-button,
.search-house-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
}

.create-house-button:hover,
.search-house-button:hover {
  background-color: #0056b3;
}

table {

	width: 25%;
	border-collapse: collapse;
	border: "0";

}

table td {
  padding: 10px;
  text-align: left;
  position: relative;
  height: 30px;
}

table tr {
  border-bottom: 1px solid #333;
}

table tr:last-child {
  border-bottom: none;
}

.house-name-input {
  width: calc(100% - 80px);
}

.join-btn {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.join-btn:hover {
  background-color: #0056b3;
}

.name-column {
  padding-left: 50px;
  width: 160px;
  max-width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.join-column {
  width: 100px;
}

.join-box {
  max-height: 215px;
  overflow-y: auto;
}

.join-box table {
  width: 100%;
}

.join-column {
  width: auto;
}

.join-box::-webkit-scrollbar {
  width: 10px;
}

.join-box::-webkit-scrollbar-thumb {
  background-color: #555;
}

.join-box::-webkit-scrollbar-track {
  background: #333;
}