{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/assign_task.css') }}"
/>
<script defer src="{{ url_for('static', filename='js/assign_task.js') }}"></script>
<title>Assign Task</title>
{% endblock %} {% block body %}

<main>

  <div class="back">
    <button onclick="history.back()" class="back-icon">Back</button>
  </div>
  
  <header>
    <h1>Let's Assign a Task...<br />Who is <span id="typewriter"></span>
    <span id="cursor">|</span></h1>
  </header>
  <form class="pure-form pure-form-stacked" id="task-form" method="post">
    <div class="pure-control-group">
      <label for="task-name">Task Name</label>
      <input
        type="text"
        id="task-name"
        name="task-name"
        placeholder="Task name"
        required
      />
    </div>
    <div class="pure-control-group">
      <label for="person">Person Responsible</label>
      <select id="person" name="person">
        {% for username, user_id in member_id_dict.items() %}
          <option value="{{user_id}}">{{username}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="pure-control-group">
      <label for="task-due-date">Due Date</label>
      <input id="task-due-date" type="datetime-local" name="task-due-date" required />
    </div>
    <div class="pure-controls">
      <input
        type="submit"
        value="Add to Calendar"
        class="pure-button pure-button-primary"
      />
    </div>
  </form>
</main>

{% endblock %}
