{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_task.css') }}"/>
    <script src="{{ url_for('static', filename='js/edit_task.js') }}"></script>
    <title>Edit Task</title>
{% endblock %}
{% block body %}
    <header>
        <h1>Edit Task</h1>
    </header>
    <main>
        <form class="pure-form pure-form-stacked" id="task-form">
            <div class="pure-control-group">
                <label for="task-name">Change Task Name</label>
                <input type="text" id="task-name" name="task-name" placeholder="Task name">
            </div>
            <div class="pure-control-group">
                <label for="person">Change Person Responsible</label>
                <select id="person" name="person">
                  <option value="stephen">Stephen</option>
                  <option value="robert">Robert</option>
                  <option value="akka">Akka</option>
                  <option value="ben">Ben</option>
                  <option value="ari">Ari</option>
                </select>
            </div>
            <div class="pure-control-group">
                <label for="task-due-date">Due Date</label>
                <input id="task-due-date" type="datetime-local" name="task-due-date">
            </div>
            <div class="pure-controls">
                <input type="submit" value="Submit" class="pure-button pure-button-primary">
            </div>
        </form>
    </main>
{% endblock %}
