{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/house.css')}}" />
<script src="{{ url_for('static', filename = 'js/house.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script>
<title>House</title>
{% endblock %} {% block body %}

<div class="navigation-bar">
  <img src="{{url_for('static', filename='img/The_Forge_Banner.jpg')}}" />
  <a href="/logout" class="logout-icon"
    >Logout: <i class="fa fa-sign-out"></i
  ></a>
</div>
<div class="welcome-box">
  <header>
    <h1>Welcome {{cur_user}} to {{house_name}}!</h1>
    <p>Assign tasks to roommates, and make use of the Scheduling AI feature.</p>
  </header>
</div>

<div class="main-content">
  <div class="left"></div>
  <div class="center">
    <div class="calendar-wrapper">
      <div id="calendar"></div>
    </div>
    <div class="sidebar">
      <div class="sidebar-top">
        <table>
          <tr>
            <td colspan="1">Current Members</td>
          </tr>
          {% for member in members %}
          <tr>
            <td>{{ member }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="sidebar-bottom">
        <div class="button-div">
          <h3>Assign Task</h3>
          <form
            class="pure-form pure-form-stacked"
            id="task-form"
            method="post"
          >
            <div class="pure-control-group">
              <label for="task-name">Task Name</label>
              <input
                type="text"
                id="task-name"
                name="task-name"
                placeholder="Task name"
                required
              />
            </div>
            <div class="pure-control-group">
              <label for="person">Person Responsible</label>
              <select id="person" name="person">
                {% for username, user_id in member_id_dict.items() %}
                <option value="{{user_id}}">{{username}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="pure-control-group">
              <label for="task-due-date">Due Date</label>
              <input
                id="task-due-date"
                type="datetime-local"
                name="task-due-date"
                required
              />
            </div>
            <div class="pure-controls">
              <input
                type="submit"
                value="Add to Calendar"
                class="pure-button pure-button-primary"
              />
            </div>
          </form>
          <!-- <a href="/assign-task/{{house_id}}">
            <button class="assign-button pure-button pure-button-primary">
              Assign a task
            </button>
          </a> -->
          <br />
          <button class="scheduling-button pure-button pure-button-primary">
            Scheduling AI
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="right"></div>
</div>

{% endblock %}
