{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/start.css')}}" />
<title>Landing Page</title>
{% endblock %} {% block body %}

<main>
  <header>
    <div class="logo">
      <img src="{{url_for('static', filename='img/The_Forge_Banner.jpg')}}" />
    </div>
  </header>

  <h2>Landing Page</h2> <hr>
  <p>Need help with organizing tasks or chores for your roommates? This is the solution you've been looking for. Join today!</p>
  <hr>
  <br>
  <div class="auth0-login">
    Log in or Sign up:
    <a href="/login">Click here</a>
  </div>
  <div class="browse-houses">
    Browse houses without an account:
    <a href="/browse">Browse Houses</a>
  </div>
  
</main>

{% endblock %}
