{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/user_home.css')}}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<script src="{{ url_for('static', filename='js/user_home.js') }}"></script>
<title>House</title>
{% endblock %}
{% block body %}

<div class="navigation-bar">
  <img src="{{url_for('static', filename='img/The_Forge_Banner.jpg')}}" />
  <a href="/logout" class="logout-icon"
    >Logout: <i class="fa fa-sign-out"></i
  ></a>
</div>
<div class="welcome-box">
  <header>
    <h1>Welcome {{cur_user}}!</h1>
    <p>Explore your houses and join communities.</p>
  </header>
</div>
<div class="main-content">
  <div class="left"></div>
  <div class="center">
    <div class="left-center">
      <br/>
      <h2>Create a House</h2>
      <form action="/user/home" method="post">
        <input
          type="text"
          class="create-house-input"
          placeholder="Name your house"
          name="house-name"
        />
        <button type="submit" class="create-house-button">Create</button>
      </form>
      <br/>
      <h2>My Houses</h2>
      <div class="my-houses">
        <!-- clicking Join will add houses here -->
        {% for h in user_houses %}
          <div class="my-houses-list" id="{{ 'house-' + h.house_id|string }}">
              <div>{{h.house_name}}</div>
    <a href="/house/{{h.house_id}}"><button>Enter</button></a>

              <button id="leave-house" onclick="leaveHouse('{{h.house_id}}')">Leave House</button>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="right-center">
    </form>
    <br/>
    <h2>Search for a House</h2>
    <form>
      <input
        type="text"
        placeholder="Filter by name"
        name="search"
        id="search-bar"
        class="search-bar"
      />
    </form>
    <br/>
      <h2>Join a House</h2>
      <div class="join-box">
        <table>
          <tbody>
            {% for h in houses %}
            <tr class="house">
              <td class="name-column">{{h.house_name}}</td>
              <td class="join-column">
                <button class="join-btn" onclick="joinHouse('{{h.house_id}}','{{h.house_name}}')">Join</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- <form action="/logout" method="get">
        <button type="submit" class="logout-button">
          Logout
        </button>
      </form> -->
    </div>
  </div>
  <div class="right"></div>
</div>

{% endblock %}
