{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/user_home.css')}}"
/>
<title>House</title>
{% endblock %} {% block body %}

<div class="navigation-bar">
  <img src="{{url_for('static', filename='img/The_Forge_Banner.jpg')}}" />
</div>
<div class="main-content">
  <div class="left"></div>
  <div class="center">
    <header>
      <h1>Welcome, User!</h1>
      <p>Explore your houses and join communities.</p>
    </header>
    <h2>My Houses</h2>
    <div class="my-houses">
      <div class="house">
        <div>House A</div>
        <button>Enter</button>
        <button>Leave House</button>
      </div>
    </div>
    <h2>Create a House</h2>
    <form action="/user/home" method="post">
      <input type="text" class="create-house-input" placeholder="Name your house" />
      <button type="submit" class="create-house-button">Create</button>
    </form>
    <br />
    <h2>Search for a House</h2>
    <form action="/user/home" method="post">
      <input type="text" class="search-house-input" placeholder="Search for a house by code" />
      <button type="submit" class="search-house-button">Search</button>
    </form>
    <h2>Join a House</h2>
    <table>
      <tbody>
        {% for h in houses %}
          <tr>
            <td class="name-column">h.house_name</td>
            <td class="join-column"><button class="action-btn">Join</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="right"></div>
</div>

{% endblock %}
